numpy==1.26.4
matplotlib==3.9.2
pandas==2.2.3
h5py==3.12.1
scipy==1.14.1
wandb==0.24.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
torchvista==0.2.6
tqdm==4.67.1
pytorch-warmup==0.2.0
timm==0.9.7
peft==0.17.1
dotenv==0.9.9
